<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	
	
		<div th:fragment="footer">
		    <div class="panel-footer" >
		        <footer>
		        	<img alt="" src="img/footer.jpg" width="100%" height="80px">
			        
		    	</footer>
		    </div>
			<script type="text/javascript"
			th:src="@{webjars/jquery/3.4.1/jquery.min.js}"></script>
		<script type="text/javascript"
			th:src="@{webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
		<script type="text/javascript"
			th:src="@{webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
		<script src="js/bootstrap.min.js"></script>
		</div>
	
</html>
