<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link th:href="@{webjars/jquery-ui/1.12.1/jquery-ui.min.css}"
	rel="stylesheet" type="text/css">
<link
	th:href="@{webjars/datatables/1.10.19/css/jquery.dataTables.min.css}"
	rel="stylesheet" type="text/css">
<!-- link th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet" type="text/css"> -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">


<script type="text/javascript"
	th:src="@{webjars/jquery/3.4.1/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script type="text/javascript"
	th:src="@{webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script src="js/bootstrap.min.js"></script>
<script>

	
	function myFunction(des) {
		var formularios = document.forms;
		var msg = '';
		
	
		
		
		
		if (des === 'Atras'){
			document.getElementById("pagino").value = 0;
			
		} else if (des === 'Adelante'){
			document.getElementById("pagino").value = 1;
			
		}else
			document.getElementById("pagino").value = 2;
		
		
		
	}

</script>

<title>Dia del Maestro</title>
<style>
	.ui-controlgroup-vertical {
		width: 150px;
	}
	
	.ui-controlgroup.ui-controlgroup-vertical>button.ui-button,
		.ui-controlgroup.ui-controlgroup-vertical>.ui-controlgroup-label {
		text-align: center;
	}
	
	#car-type-button {
		width: 120px;
	}
	
	.ui-controlgroup-horizontal .ui-spinner-input {
		width: 20px;
	}
</style>


<style type="text/css">
	@import url(http://fonts.googleapis.com/css?family=Open+Sans);
	
	html, body {
		color: white;
		font-family: 'Opens Sans', helvetica;
		height: 100%;
		width: 100%;
		margin: 0px;
	}
	
	.portada {
		background: url(img/maestros2.jpg) no-repeat fixed center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100%;
		width: 100%;
		text-align: center;
	}
	
	.text {
		margin: 30px 0px 30px 0px;
		padding: 10px;
		background: rgba(0, 0, 0, 0.5);
		display: inline-block;
	}
</style>

</head>
<body class="portada">
	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<div>
					<a class="navbar-brand" href="#"><img alt=""
						src="img/logosindicato.png" width="220px" height="70px"></a>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarCollapse" aria-controls="navbarCollapse"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="nav navbar-nav navbar-right">
				</div>
				<div>
					<a class="navbar-brand" href="#"><img alt=""
						src="img/arbol.png" width="80px" height="70px"></a>
				</div>
			</nav>
		</div>
	</nav>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	<div class="container">
		<div class="row">
			<div class="text col-xs-12 col-sm-12 col-md-12 col-lg-4">
				<form th:object="${user}">
					<h1>RIFA DEL DÍA DEL MAESTRO</h1>
					<div class="form-group">
						<label for="cveServidorPublico" class="control-label">Clave
							de servidor publico</label> <input id="cveServidorPublico"
							class="form-control" th:field="*{cveServidorPublico}"
							disabled="disabled" />
					</div>
					<div class="form-group">
						<label for="nombreCompleto" class="control-label">Nombre</label> <input
							id="nombreCompleto" class="form-control"
							th:field="*{nombreCompleto}" disabled="disabled" />
					</div>
					<div class="form-group">
						<label for="email" class="control-label">Correo
							electronico</label> <input id="email" class="form-control"
							th:field="*{email}" disabled="disabled" />
					</div>
					<div class="form-group">
						<label for="telefono" class="control-label">Numero
							Telefonico</label> <input id="telefono" class="form-control"
							th:field="*{telefono}" disabled="disabled" />
					</div>
					<div class="form-group">
						<label for="idRegion" class="control-label">Region</label> <input
							id="idRegion" class="form-control" th:field="*{idRegion}"
							disabled="disabled" />
					</div>
					<div class="form-group">
						<label for="zonaEscolar" class="control-label">Zona
							Escolar</label> <input id="zonaEscolar" class="form-control"
							th:field="*{zonaEscolar}" disabled="disabled" />
					</div>
				</form>
			</div>
			<div class="text col-xs-12 col-sm-12 col-md-12 col-lg-8">
				<h1>Selecciona tu boleto</h1>

				<form th:action="@{/captura}" th:object="${user}" method="post">
					<input type="hidden" th:field="*{pagina}" id="pagina" name="pagina"> 
					<input type="hidden" th:field="*{pagino}" id="pagino"  name="pagino"> 
					<input type="hidden" th:field="*{totalPaginas}" id="totalPaginas" name="totalPaginas">


					<h1>GRAN RIFA DEL DÍA DEL MAESTRO</h1>
					<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
						th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
						error</p>
					<div class="form-group"	th:classappend="${#fields.hasErrors('boleto')}? 'has-error':''">
						<input type="hidden" id="cveServidorPublico" class="form-control" th:field="*{cveServidorPublico}" /> 
						<input type="hidden" id="idRegion" class="form-control" th:field="*{idRegion}" /> 
						
						<label	for="boleto" class="control-label">Boleto</label> 
						<select	id="boleto" th:field="*{boleto}" class="form-control" required>
							<option th:each="item:${boletos}" th:value="${item.id}"	th:text="${item.id}" />
						</select>
						<p class="error-message" th:each="error: ${#fields.errors('boleto')}" th:text="${error}">Validation	error</p>


					</div>
					<div class="form-group">


						<button type="submit" value="Guarda" class="btn btn-success">SELECCIONA TU BOLETO</button>
						
					</div>
										<div class="form-group">


						<button th:if="${user.pagina > 0}" type="submit" value="Atras" class="btn btn-success"	onclick="myFunction(this.value)">Anteriores</button>
						<button th:if="${user.pagina < user.totalPaginas}" type="submit" value="Adelante" class="btn btn-success" onclick="myFunction(this.value)">Siguientes</button>
						
					</div>
					
				</form>
			</div>
		</div>
	</div>
	</br>
	</br>
	</br>
	<div th:fragment="footer">
		<div class="panel-footer">
			<footer>
				<img alt="" src="img/footer.jpg" width="100%" height="80px">
			</footer>
		</div>

	</div>
</body>
</html>