<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link th:href="@{webjars/jquery-ui/1.12.1/jquery-ui.min.css}"
	rel="stylesheet" type="text/css">
<link
	th:href="@{webjars/datatables/1.10.19/css/jquery.dataTables.min.css}"
	rel="stylesheet" type="text/css">
<!-- link th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet" type="text/css"> -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<title>Dia del Maestro</title>
<style type="text/css">
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body {
	color: white;
	font-family: 'Opens Sans', helvetica;
	height: 100%;
	width: 100%;
	margin: 0px;
}

.portada {
	background: url(img/maestros2.jpg) no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	width: 100%;
	text-align: center;
}

.text {
	margin: 30px 0px 30px 0px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.5);
	display: inline-block;
}
</style>
<script>
	function myFunction(pag) {
		form.pagina.value = pag;
	}

</script>

</head>
<body class="portada">
	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
		<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<div>
					<a class="navbar-brand" href="#"><img alt=""
						src="img/logosindicato.png" width="220px" height="70px"></a>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarCollapse" aria-controls="navbarCollapse"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="nav navbar-nav navbar-right">
				</div>
				<div>
					<a class="navbar-brand" href="#"><img alt=""
						src="img/arbol.png" width="80px" height="70px"></a>
				</div>
			</nav>
		</div>
	</nav>
		</div>
	</nav>
	<nav id="mainNav2" class="navbar navbar-default "
		th:if="${#authorization.expression('isAuthenticated()')}">
		<div th:replace="fragments/menu :: menu"></div>
	</nav>
	</br>
	</br>

	</br>
	<div class="container">
		<div class="container-fluid text">
			<h1 id="homeHeading" th:text="'Reporte de Boletos' "
				style="font: bold;" />
			<form th:action="@{/reporte}" th:object="${filtro}" method="post" id="form">
				<input type="hidden" th:field="*{descarga}" id="descarga" value="0">
				<input type="hidden" th:field="*{pagina}" id="pagina" value="1">
				<div class="row">
					</br> </br>
					<div class="col-md-6 col-md-offset-3">

						<label for="cveServidorPublico">Servidor Público:</label> <input
							type="text" th:field="*{cveServidorPublico}"
							class="form-control input-lg"
							placeholder="Número de Servidor Público" /> </br>
					</div>
					<div class="col-md-6 col-md-offset-3">
						<label for="boleto">Boleto:</label> <input type="text"
							th:field="*{boleto}" class="form-control input-lg"
							placeholder="Número de Boleto" maxlength="15" />
					</div>
					<div class="col-md-6 col-md-offset-3">
						<label for="estatus">Estatus:</label> <select multiple
							th:field="*{estatus}" class="form-control" id="sel1">
							<option value="2" selected="selected">Con Boleto</option>
							<option value="0">Puede Obtener su boleto</option>
							<option value="3">Pendiende por Validar</option>
							<option value="6">Bloqueado</option>
							<option value="7">Eliminado</option>
						</select>
					</div>
					<div class="col-md-6 col-md-offset-3">
						<label for="region">Región:</label> <select multiple id="region"
							th:field="*{region}" class="form-control">
							<option th:each="item:${regiones}" th:value="${item.idCatalogo}"
								th:text="${item.descripcion}" />
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col">
						</br> 
						<input type="submit" value="Buscar"	class="btn btn-md btn-primary" id="button-upload" maxlength="15" /> 
							
						</br> <span><a href="#" th:href="@{/reporte}" />&nbsp;Limpiar campos</a></span></br>
					</div>
					
				</div>
				<div class="row">
					<section id="historico" th:if="${resultado.lista != null}">
						<div class="container">
							<div class="row">
								<div class="row col-md-12">
									<div class="table-responsive">
										<table id="resumen" style="width: 100%"	class="table table-striped dt-responsive display nowrap">
											<thead>
												<tr>
													<th scope="col">CLAVE DE SERVIDOR</th>
													<th scope="col">BOLETO</th>
													<th scope="col">EMAIL</th>
													<th scope="col">REGIÓN</th>
													<th scope="col">NOMBRE</th>
													<th scope="col">TELÉFONO</th>
													<th scope="col">ZONA ESCOLAR</th>
	
												</tr>
											</thead>
											<tbody>
												<tr th:if="${resultado.lista.empty}">
													<td colspan="1" style="color: white"></td>
												</tr>
												<tr th:each="maestro: ${resultado.lista}">
													<td scope="row">
														<span><a  th:href="@{/actualizaservidor(cveServidorPublico=${maestro.cveServidorPublico})}" th:text="${maestro.cveServidorPublico}" >CLAVE DE SERVIDOR </a></span>
													</td>
													<td scope="row"><span th:text="${maestro.boleto}">BOLETO</span></td>
													<td scope="row"><span th:text="${maestro.email}">EMAIL</span></td>
													<td scope="row"><span th:text="${maestro.idRegion}">REGIÓN</span></td>
													<td scope="row"><span th:text="${maestro.nombreCompleto}">NOMBRE</span></td>
													<td scope="row"><span th:text="${maestro.telefono}">TELÉFONO</span></td>
													<td scope="row"><span th:text="${maestro.zonaEscolar}">ZONA ESCOLAR</span></td>
												</tr>
											</tbody>
										</table>
									</div>									
							</div>
							<div class="row">
									<div th:if="${resultado.totalPages > 0}" class="pagination row col-md-12">
											<div class="row">
											<div th:if="${resultado.pageNumber > 1}" class="col">
												<input type="submit" th:value=${resultado.pageNumber-1}
													maxlength="1"
													th:class="${pageNo==resultado.pageNumber - 1} ? active"
													onclick="myFunction(this.value)">Next</input>
											</div>
											<div th:if="${resultado.pageNumber &gt;= 5}" 
												class="col">
												<input type="submit" th:value="1" maxlength="1"
													th:class="${pageNo==1} ? active"
													onclick="myFunction(this.value)" />
											</div>
											<div th:if="${resultado.pageNumber &gt;= 5}" class="col">
												...</div>
											<div
												th:each="pageNo : ${#numbers.sequence(resultado.inicioPag,resultado.finPag)}"
												th:class="${resultado.pageNumber == pageNo} ? 'selected'"
												class="col">
												<input type="submit" th:value=${pageNo} maxlength="1"
													th:class="${pageNo==resultado.pageNumber + 1} ? active"
													onclick="myFunction(this.value)" />
											</div>
											<div
												th:if="${resultado.pageNumber &lt;= (resultado.totalPages - 4)}"
												class="col">...</div>
	
											<div
												th:class="${resultado.pageNumber == resultado.totalPages} ? 'selected'"
												class="col">
												<input type="submit" th:value=${resultado.totalPages}
													maxlength="1"
													th:if="${resultado.pageNumber &lt; resultado.totalPages}"
													onclick="myFunction(this.value)" />
											</div>
	
											<div th:if="${resultado.pageNumber &lt; resultado.totalPages}"
												class="col">
												<input type="submit" th:value=${resultado.pageNumber+1}
													maxlength="1"
													th:if="${resultado.pageNumber &lt; resultado.totalPages}"
													onclick="myFunction(this.value)">Next</input>
											</div>
										</div>
									</div>
									<div>
										Total de registros encontrados:
										<h4 id="total" th:text="${resultado.total}" style="font: bold;" />
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>

			</form>
		</div>
	</div>
	</br>
	</br>
	</br>
	<div th:fragment="footer">
		<div class="panel-footer">
			<footer>
				<img alt="" src="img/footer.jpg" width="100%" height="80px">
			</footer>
		</div>
		<script type="text/javascript"
			th:src="@{webjars/jquery/3.4.1/jquery.min.js}"></script>
		<script type="text/javascript"
			th:src="@{webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
		<script type="text/javascript"
			th:src="@{webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
		<script src="js/bootstrap.min.js"></script>
	</div>
</body>
</html>